.content {
  grid-area: c;
  background-color: whitesmoke;

  overflow: scroll;
}

.content img {
  width: 100%;
  /* height: 100vh; */
  max-height: 300px;
}

.blog_area {
  padding: 40px 0 0 50px;
}

.content .avatar {
  width: 100px;
}