.header {
  width: 100%;
  height: 60px;
  padding: 5px 0;
  /*grid-area: h;*/
  background-color: teal;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  /*top: 0;*/
}

.header-wrapper {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 50px;
  height: 50px;
  /*background-color: teal;*/
}