.post_item {
    padding: 4px 15px;
    margin-top: 20px;

    background-color: ivory;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);

    color: teal;
}

.post_content {
    display: flex;
    gap: 20px;
}

.post_avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.post_action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

}