.news_wrap {
  margin-top: 50px;
}
.selector {
  border-radius: 50px;
  height: 40px;
}

.selector > div {
  border-radius: 50px;
  height: 40px;
  /*background-color: teal;*/
}

.hello {
  margin: 50px;
  padding: 20px;
  background-color: lightseagreen;
  border-radius: 0 18px 18px 18px;
}