.app-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  /* grid-template-columns: 2fr 10fr; */
  grid-template-columns: 200px 1fr;
  /* gap: 10px; */

  /*overflow: hidden;*/
}

.app-content-wrapper {
  grid-area: c;
  background-color: beige;

  /*overflow: scroll;*/
}
