.dialogs {
    height: 100%;
    width: 100%;

    display: flex;

    /*display: grid;*/
    /*grid-template-columns: 250px 1fr ;*/
}

.dialogs_wrapper {
    padding: 40px 20px;
    /*padding-top: 40px;*/
    /*padding-left: 10%;*/
    max-width: 180px;
    background-color: palegoldenrod;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /*height: -webkit-fill-available;*/
}

.dialog_items {


}

.dialog_items a .active {
    color: darkgreen;
}

.dialog {
    padding: 10px;
}

.dialog a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.dialog .active_dialog {
    color: teal;
}

.messages_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.messages {
    padding: 0 40px 20px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message_input_block {
    width: 100%;
    height: fit-content;
    padding: 10px 0 20px 20px;
    background-color: palegoldenrod;
    border-left: 1px solid beige;

    display: flex;
}
.message_input_stack {
    width: 70%;
    height: fit-content;
}
.message_input_block textarea {
    width: 100%;
    /*height: 100%;*/
    /*min-height: 30px;*/
    padding: 5px 10px 5px 15px;
    /*padding-top: 15px;*/
    /*padding-left: 20px;*/
    line-height: 18px;
    font-size: 15px;
    color: dimgrey;
    border: none;
    border-radius: 12px 0 0 12px;

    overflow: hidden;
    resize: none;
    /*height: fit-content;*/

}

.message_input_block Button {
    background-color: teal;

}
.message_input_block Button:hover {
    background-color: darkcyan;

}