.message {
    width: fit-content;
    max-width: 40%;
    padding: 10px 20px;
    margin-top: 15px;
    color: cornsilk;
    background-color: teal;
    border-radius: 30px;

    word-wrap: break-word;
}